backup/
certs/
comms/
database/
logs/
moonraker.asvc
systemd/
gcodes/*
config/printer-*.cfg
config/octoeverywhere.conf
config/octoeverywhere-system.cfg
octoeverywhere-store/*
config/.moonraker.conf.bkp
moonraker.secrets
config/.moonraker.conf.bkp
