backup/
certs/
comms/
database/
logs/
moonraker.asvc
systemd/
gcodes/*
config/printer-*.cfg
config/octoeverywhere.conf
config/octoeverywhere-system.cfg
octoeverywhere-store/*
moonraker.secrets
config/secrets.json
.moonraker.uuid
*.bkp
config/.moonraker.conf.bkp
