########################################################
#         MACROS: Messages
########################################################
[gcode_macro _INFO]
description: Display an info message
  usage: _INFO [MESSAGE="<message>"]
gcode:
    {% set message = params.MESSAGE|default("INFO") %}
    {action_respond_info(message)}

[gcode_macro _ERROR]
description: Display an error message
    usage: _ERROR [MESSAGE="<message>"]
gcode:
    {% set message = params.MESSAGE|default("ERROR") %}
    {action_raise_error(message)}

[gcode_macro _EMERGENCY_STOP]
description: Display an emergency stop message and shutdown the printer
  usage: _EMERGENCY_STOP [MESSAGE="<message>"]
gcode:
    ENCLOSURE_LIGHTS_OFF
    SET_ENCLOSURE_HEATERS_OFF
    {% set message = params.MESSAGE|default("EMERGENCY STOP") %}
    {action_emergency_stop(message)}

########################################################
#         MACROS: Motors off
########################################################
[gcode_macro MOTORS_OFF]
description: Turn motors off
gcode:
    M84 X Y E  

########################################################
#         MACROS: MQTT
########################################################
[gcode_macro MQTT_PUBLISH]
description: Publish value to MQTT topic
gcode:
    {% set value = params.VALUE %}
    {% set topic = params.TOPIC %}
    
    {% set message = 'TOPIC=' + topic + ' VALUE=' + value %}
    {% set cmd = '_INFO MESSAGE="' + message + '"' %}
    { cmd }

    {% set _payload = {"value": value} %}

    {action_call_remote_method("publish_mqtt_topic",topic=topic,payload=_payload, qos=0,retain=True,use_prefix=True)}


########################################################
#         MACRO: Shutdown
########################################################
[gcode_macro SHUTDOWN]
gcode:
  _INFO MESSAGE="Shutting down"
  ENCLOSURE_LIGHTS_OFF
  SET_ENCLOSURE_HEATERS_OFF
  {action_call_remote_method("shutdown_machine")}

########################################################
#         MACRO: Reboot
########################################################
[gcode_macro REBOOT]
gcode:
  _INFO MESSAGE="Rebooting"
  {action_call_remote_method("reboot_machine")}

########################################################
#         MACRO: Enclosure Temperature
########################################################
[gcode_macro SET_ENCLOSURE_TEMPERATURE]
description: Gcode to set enclosure temperature
gcode:
  {% set target = params.TARGET|default(50)|float %}

  {% if target <= 0 %}
      {% set target = 0 %}
      _INFO MESSAGE="ENCLOSURE_HEATERS_OFF"
  {% else %}
      _INFO MESSAGE="ENCLOSURE_HEATERS_ON"
      _INFO MESSAGE="ENCLOSURE_TEMPERATURE_TARGET="{ target }
  {% endif %}

  {% set _payload = {"value": target} %}
  
  {action_call_remote_method("publish_mqtt_topic",
                             topic="klipper/state/temperature_sensor enclosure_temperature/target",
                             payload=_payload,
                             qos=0,
                             retain=True,
                             use_prefix=True)}

[gcode_macro SET_ENCLOSURE_HEATERS_OFF]
description: Gcode to turn enclosure heaters off
gcode:
  SET_ENCLOSURE_TEMPERATURE TARGET=0

########################################################
#         MACRO: Start print
########################################################
[gcode_macro START_PRINT]
description: Gcode to execute at the start of a print
gcode:
    # Set the temperatures
    {% set BED_TEMP = params.BED_TEMP|default(80)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    #Get Printer built volume dimensions
    {% set X_PARK = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set Y_PARK = printer.toolhead.axis_maximum.y|float - 5.0 %}
    {% set Z_PARK = 20.0 %}
    {% set PARK_SPEED = 2000 %}

    # Turn lights on
    ENCLOSURE_LIGHTS_ON

    # Load the default mesh
    LOAD_DEFAULT_MESH

    # Home the printer
    HOME

    # Use absolute coordinates
    G90

    # Park the extruder
    G1 X{X_PARK} Y{Y_PARK} Z{Z_PARK} F{PARK_SPEED}
    
     # Set bed temperature
    M190 S{BED_TEMP}
    
    # Set nozzle temperature
    M109 S{EXTRUDER_TEMP}

########################################################
#         MACRO: End Print
########################################################
[gcode_macro END_PRINT]
description: Gcode to execute after a print
gcode:
    #Get Printer built volume dimensions
    {% set X_MAX = printer.toolhead.axis_maximum.x|default(100)|float %}
    {% set Y_MAX = printer.toolhead.axis_maximum.y|default(100)|float %}
    {% set Z_MAX = printer.toolhead.axis_maximum.z|default(100)|float %}

    {% set X_POS = printer.toolhead.position.x|float %}
    {% set Y_POS = printer.toolhead.position.y|float %}
    {% set Z_POS = printer.toolhead.position.z|float %}

    {% set X_FINAL_POS = X_MAX/2 %}
    {% set Y_FINAL_POS = Y_MAX - 5.0 %}

    {% if Z_POS < (Z_MAX - 10.0) %}
      {% set Z_RELATIVE_MOVE = 10.0 %}
    {% else %}
      {% set Z_RELATIVE_MOVE = Z_MAX - Z_POS %}
    {% endif %}

    #Relative Movement
    G91           
    G1 E-5 F500                                    
    G1 Z{Z_RELATIVE_MOVE} F500        

    #Absolute Movement
    G90
    G1 X{X_FINAL_POS} Y{Y_FINAL_POS} F600                                       

    M106 S0                                      
    M104 S0                                       
    M140 S0                                 

    #Disable Steppers
    MOTORS_OFF  
    
    # Turn lights off
    ENCLOSURE_LIGHTS_OFF
    SET_ENCLOSURE_HEATERS_OFF

########################################################
#         MACRO: Before layer change
########################################################
[gcode_macro BEFORE_LAYER_CHANGE]
description: Gcode to execute before a layer change
gcode:
    # Reset extruder
    G92 E0

########################################################
#         MACRO: After layer change
########################################################
[gcode_macro AFTER_LAYER_CHANGE]
description: Gcode to execute after a layer change
gcode:


########################################################
#         MACRO: Color change
########################################################
[gcode_macro COLOR_CHANGE]
description: Trigger color change
gcode:
    # Activace color change
    M600

########################################################
#         MACRO: Pause print
########################################################
[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}

  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}

  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}


########################################################
#         MACRO: Resume print
########################################################
[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

########################################################
#         MACRO: Cancel Print
########################################################
[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS

  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z4.5 F300
    G90
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}
    G28 X Y
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    G1 Y{y_park} F2000
    M84

  SET_ENCLOSURE_HEATERS_OFF
  CANCEL_PRINT_BASE

########################################################
#         MACRO: Printer nozzle LED 
########################################################
[gcode_macro LED_ON]
description: Turn printer LED ON
gcode:
    SET_PIN PIN=led VALUE=1

[gcode_macro LED_OFF]
description: Turn printer LED OFF
gcode:
    SET_PIN PIN=led VALUE=0

########################################################
#         MACRO: Homing
########################################################
[gcode_macro HOME]
description: Home all axis
gcode:
  G28

[gcode_macro G29]
description: Home all axis
gcode:
  HOME
  bed_mesh_calibrate
  G1 X0 Y0 Z10 F4200

########################################################
#        MACRO: Enclosure Lights
########################################################
[gcode_macro ENCLOSURE_LIGHTS_ON]
gcode:
    {action_call_remote_method("set_device_power",
                             device="enclosure_lights",
                             state="on",
                             force=True)}
    
[gcode_macro ENCLOSURE_LIGHTS_OFF]
gcode:
    {action_call_remote_method("set_device_power",
                             device="enclosure_lights",
                             state="off",
                             force=True)}

[gcode_macro ENCLOSURE_LIGHTS_TOGGLE]
gcode:
    {action_call_remote_method("set_device_power",
                             device="enclosure_lights",
                             state="toggle",
                             force=True)}

########################################################
#        MACRO: Printer Power
########################################################
[gcode_macro PRINTER_OFF]
gcode:
    SET_ENCLOSURE_HEATERS_OFF
    ENCLOSURE_LIGHTS_OFF
    {action_call_remote_method("set_device_power",
                             device="printer",
                             state="off",
                             force=True)}
  

[gcode_macro PRINTER_ON]
gcode:
    ENCLOSURE_LIGHTS_ON
    {action_call_remote_method("set_device_power",
                             device="printer",
                             state="on",
                             force=True)}

[gcode_macro LOAD_DEFAULT_MESH]
gcode:
  BED_MESH_PROFILE LOAD=default

